.root {
  font-family: Verdana, Geneva, sans-serif;
  font-size: 12pt;

  display: flex;
  flex-direction: row;

  margin-top: 1em;
}

.index {
  width: 30px;
  margin-right: 1em;
  text-align: right;
}

.content {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.meta {
  font-size: 9pt;
}

.root h3 {
  margin-top: 0;
  font-size: 12pt;
}

.root a:hover {
    color: red;
}
