.header {
    width: 100%;
    background: #282c34;
    padding: 1%;
    border-bottom: 0.15em solid red;
    margin-bottom: 0em;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    /* border: 2px solid #c7c0c0; */

}

.header a:hover {
    color: red;
}

.nav {
    font-size: 1.5em;
    /* border: 2px solid #c7c0c0; */

}

.logo {
    position: relative;
    left: 0em;
    font-size: 1.5em;
    width: 155px;
    /* border: 2px solid #c7c0c0; */

}