.container {
  width: 750px;
  margin: auto;
  border: 2px solid #c7c0c0;
  border-radius: 0.2em;
  box-shadow: 0em 0em 2em 0.1em #c7c0c0;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
